<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="age" value="43"/>
    <add key="name" value="Frank"/>
    <add key="Occupation" value="Unemployed"/>
  </appSettings>
</configuration>
